body {
  font-family: "Open Sans", sans-serif;
  background-color: whitesmoke;
}

h1, h2, h3 {
  font-family: "Lobster", cursive;
}

h2 {
  color: #3046C5;
}

header h2 {
  color: #CEC8FF;
}

.site-footer{
  background-image: linear-gradient (grey, white);
  padding: 20px 0;
}

/*
.jumbotron {
  margin : 0;
  padding: 30px;
  background-color: #b6c530;
  background-image: linear-gradient(to right,white, black);
  color: black;
}
*/

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar {
  background-color: #901CAD;
}


.carousel-caption{
  background-color: rgba(0,0,0,0.5);

}


.carousel {
  display: block;
  margin: auto;
  width: 30%;
}


.carousel-inner, img {
  height: 500px !important;
  width:  500px !important;

}




